	<main class="cd-main">
		<section class="cd-section contact visible">
			<header>
				<div class="cd-title">
					<h2>Contact</h2>
					<span>Some text here</span>
				</div>

				<div class="cd-scroll">Scroll Down</div>
			</header>

			<div class="cd-content" id="contact-content">
				<div class="box contactbox">
					<p>
						<h2>Kyle Fong </h2>

						<h4>
						 <li>SCHousingCrisis Product Owner</li>
						 <li>Fourth year Sociology Major</li>
						 <li>Fourth year Computer Science Major</li>

						</h4>

						<h2>Bryant Ng</h2>

						<h4>
						 <li>SCHousingCrisis Sprint Three Scrum Master</li>
						 <li>SCHousingCrisis Ruby Navigator</li>
						 <li>Fourth year Computer Science Major</li>
						</h4>

						<h2>Poyu Chen</h2>
						<h4>
						 <li>SCHousingCrisis Sprint Two Scrum Master</li>
						 <li>SCHousingCrisis Ladder Boy</li>
						 <li>Fourth year Computer Science Major</li>
						 
						</h4>

						<h2>Cesar Kyle Casil</h2>
						<h4>
						 <li>SCHousingCrisis Sprint One Scrum Master</li>
						 <li>SCHousingCrisis Master Chief</li>
						 <li>Fourth year Computer Science Major</li>
						</h4>
					</p>
				
				</div>
			</div> <!-- .cd-content -->
		</section> <!-- .cd-section -->
			<div id="cd-loading-bar" data-scale="1" class="contact"></div> <!-- lateral loading bar -->
	</main> <!-- .cd-main -->


