	<main class="cd-main">
		<section class="cd-section contact visible">
			<header>
				<div class="cd-title">
					<h2>Meet the Team</h2>
				</div>

				<div class="cd-scroll">Scroll Down</div>
			</header>

			<div class="cd-content" id="contact-content">
				<div class="box contactbox">
					<p>
						<h2>Kyle Fong </h2>

						<h4>
						 <ul>SCHousingCrisis Product Owner</ul>
						 <ul>Fourth year Sociology Major</ul>
						 <ul>Fourth year Computer Science Major</ul>

						</h4>

						<h2>Bryant Ng</h2>

						<h4>
						 <ul>SCHousingCrisis Sprint Three Scrum Master</ul>
						 <ul>SCHousingCrisis Ruby Navigator</ul>
						 <ul>Fourth year Computer Science Major</ul>
						</h4>

						<h2>Poyu Chen</h2>
						<h4>
						 <ul>SCHousingCrisis Sprint Two Scrum Master</ul>
						 <ul>SCHousingCrisis Ladder Boy</ul>
						 <ul>Fourth year Computer Science Major</ul>
						 
						</h4>

						<h2>Cesar Kyle Casil</h2>
						<h4>
						 <ul>SCHousingCrisis Sprint One Scrum Master</ul>
						 <ul>SCHousingCrisis Master Chief</ul>
						 <ul>Fourth year Computer Science Major</ul>
						</h4>
					</p>
				
				</div>
			</div> <!-- .cd-content -->
		</section> <!-- .cd-section -->
		
	</main> <!-- .cd-main -->
	<div id="cd-loading-bar" data-scale="1" class="contact"></div> <!-- lateral loading bar -->

