<main class="cd-main">
		<section class="cd-section home visible">
			<header>
				<div class="cd-title">
					<h2>Welcome to the Santa Cruz Housing Project!</h2>
				</div>

				<div class="cd-scroll">Scroll Down</div>
			</header>

			<div class="cd-content" id="home-content">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illo veritatis ea deserunt aliquam blanditiis, voluptas optio, voluptate ut accusamus veniam numquam, porro! Cum minima a molestiae, similique voluptate, perferendis vel iusto quam suscipit delectus dolore ducimus possimus illo molestias voluptas labore optio consequuntur sapiente pariatur libero nam temporibus. Laudantium!
				</p>
						</div> <!-- .cd-content -->
		</section> <!-- .cd-section -->
				<div id="cd-loading-bar" data-scale="1" class="home"></div> <!-- lateral loading bar -->
</main> <!-- .cd-main -->


				
				