<%= form_for(@geoloc) do |f| %>
  <% if @geoloc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@geoloc.errors.count, "error") %> prohibited this geoloc from being saved:</h2>

      <ul>
      <% @geoloc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
