<h1>Meet the team </h1>

<h2>Kyle Fong </h2>

<h4>
 <li>SCHousingCrisis Product Owner</li>
 <li>Fourth year Sociology Major</li>
 <li>Fourth year Computer Science Major</li>

</h4>

<h2>Bryant Ng</h2>

<h4>
 <li>SCHousingCrisis Sprint Three Scrum Master</li>
 <li>SCHousingCrisis Ruby Navigator</li>
 <li>Fourth year Computer Science Major</li>
</h4>

<h2>Poyu Chen</h2>
<h4>
 <li>SCHousingCrisis Sprint Two Scrum Master</li>
 <li>SCHousingCrisis Ladder Boy</li>
 <li>Fourth year Computer Science Major</li>
 
</h4>

<h2>Cesar Kyle Casil</h2>
<h4>
 <li>SCHousingCrisis Sprint One Scrum Master</li>
 <li>SCHousingCrisis Master Chief</li>
 <li>Fourth year Computer Science Major</li>
 
</h4>