    <h2>Santa Cruz Housing Project</h2>
<ol>
	<li>Geolocation google maps V3 API</li>
	<li>Google maps integrated w/db</li>
	<li>Search bar that displays queried values<br>Toggle button for view all data points</li>
	<li>Polyline for each county<br>Toggle button for each county display</li>
	<li>Leaflet.js styling</li>
	<li>User Map Route and link<br>Import values using forms<br>import using .csv</li>
	<li>Display imported values on 'User Map'</li>
	<li>Create User registration/key login and Table in DB</li>
	<li>Display map specific to user</li>
	<li>Create All Maps route and link<br>Display all maps creted</li>
	<li>Site Navigation and Styling</li>
</ol>