<main class="cd-main">
		<section class="cd-section home visible">
			<header>
				<div class="cd-title">
					<h2>Welcome to the Santa Cruz Housing Project<br><br><br>Find a house!</h2>
				</div>

				<div class="cd-scroll">Scroll Down</div>
			</header>

			<div class="cd-content" id="home-content">
				<div class="box homebox">
					<p>
						
					</p>
				</div>
			</div> <!-- .cd-content -->
		</section> <!-- .cd-section -->
</main> <!-- .cd-main -->
<div id="cd-loading-bar" data-scale="1" class="home"></div> <!-- lateral loading bar -->

				
				