<!DOCTYPE html>

<html>
<head>
	<title>Santa Cruz Housing Project | CMPS 183</title>
	<%= stylesheet_link_tag 'application', 'https://fonts.google.apis.com/css?family=PT+Serif'%>
	<%= stylesheet_link_tag 'application', 'https://fonts.google.apis.com/css?family=PT+Sans:400,700'%>

	<meta charset="utf-8">
	<meta name="author" content="Bryant Ng, Kyle Casil, Kyle Fong, and Paul Chen">
	<meta name="author" content="Nails, Brown-Skin, Coal-Tender, and Stage Hand #2">
	<meta name="description" content="In sponsorship with Working with Dignity, our team hasn't created anything yet. Just wait on it..">	
</head>

  <%= yield %>

</html>
