	<main class="cd-main">
		<section class="cd-section graph visible">
			<header>
				<div class="cd-title">
					<h2>Graph</h2>
					<span>Some text here</span>
				</div>

				<div class="cd-scroll">Scroll Down</div>
			</header>

			<div class="cd-content" id="graph-content">